.active-link {
  color: rgb(255, 255, 255);
}

body {
  background-color: #22272e;
}

nav {
  background-color: #2d333b;
}

.book__container {
  background-color: #2d333b;
}

input.form-input {
  background-color: #2d333b;
}
